{% extends "base.html" %}

{% block content %}
{% load static %}
<style>
  input[type=submit] {
    background-color: #00CE82;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  body
  {
     font-family: Courier New !important;
     background-color: #00CE82;
   }
   #form_div{
     text-align:center;
     padding:20px;
     margin: 100px 200px 500px 400px;
     border: 5px solid #00CE82;
     width: 400px;
     height: 500px;
     border-radius: 25px;
     background-color: #FFFFFF;
   }
   form {
  	width: 300px;
  	margin: 0 auto;
    display: block;
    background-color: #FFFFFF;
  }
  p{
    background-color: #FFFFFF;
  }
  h1{
    text-align:center;
  }
</style>
<h1>Weather Powered Email</h1>
<div id="form_div">
<p> Thank-you! You have succesfully subscribed!</p>
<a href=""><p>Home</p></a>
</div>
{% endblock %}
